*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Mulish;
}
@font-face {
  font-family: Mulish;
  src: url(../fonts/Mulish-Regular.ttf);
}
button {
  cursor: pointer;
  border: none;
  background: transparent;
}

.container {
  max-width: 1040px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

a {
  text-decoration: none;
}
* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}